<div ng-class="{ 'active': lockedOut }" id="lock-screen">
	<div>
		<h1><strong>Sell</strong>Sei v@@version</h1>

		<div>
			<div>
				<div>
					<img src="@@imgDir/avatar-big.png" alt="" />
				</div>
				<div class="wide">
					<div>
						<h2>Tautvydas Derzinskas</h2>
						<h3>Please enter your password to unlock</h3>
						<div>
							<div>
								<div class="wide"><input type="password" value="" placeholder="Password" /></div>
								<div>
									<span ng-click="lockToggle()">
										<i class="ic-tick"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>